<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Bananalem0n">
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="/icons/bootstrap-icon/bootstrap-icons.css" rel="stylesheet">
  <title>AMATI Indonesia dashboard WebApp</title>


  <!-- Custom styles for this template -->
  <link href="/assets/css/dashboard.css" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/product.css">

    {{!-- Font Poppins --}}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
 <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
  
  <style>
    * {
    font-family: 'Poppins', sans-serif;
}

</style>

</head>

<body>

  <header class="navbar navbar-dark sticky-top amati-green flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-4 py-3" href="#">AMATI Indonesia</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
      data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    {{!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> --}}
    <div class="navbar-nav">
      <div class="nav-item text-nowrap">
        <a class="sign-out px-3 py-3" href="#" data-bs-toggle="modal" data-bs-target="#signOutModal">Sign Out</a>
      </div>
    </div>
    <!-- Sign Out Confirmation Modal -->
  </header>

  <div class="modal fade" id="signOutModal" tabindex="-1" aria-labelledby="signOutModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="button">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="signOutModalLabel">Confirm Sign Out</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to sign out?
        </div>
        <div class="modal-footer">
          <a href="http://localhost:3000/signout" class="btn btn-primary">Sign Out</a>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item my-1">
              <a class="nav-link" href="/partner">
                Home
              </a>
            </li>
            <li class="nav-item my-1">
              <a class="nav-link active" href="/partner/products">
                Products
              </a>
            </li>
            <li class="nav-item my-1">
              <a class="nav-link" href="/partner/history" aria-disabled="true">
                <span data-feather="bar-chart-2"></span>
                History
              </a>
            </li>
            <li class="nav-item my-1">
              <a class="nav-link" href="/partner/profile" aria-disabled="true">
                <span data-feather="bar-chart-2"></span>
                Profiles
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 h-100 mb-3">
        <div class="row pt-4 pr-5 pb-4 mx-2">
          <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <h4>
            <ol class="breadcrumb pt-2">
                <li class="breadcrumb-item"><a href="/partner" class="text-decoration-none text-dark">Partner</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="/partner/products" class="text-decoration-none text-dark">Product</a></li>
                <li class="breadcrumb-item active" aria-current="page">Jamu</li>
            </ol>
            </h4>
            </nav>
        </div>
        <div class="row">
          <div class="col d-flex gap-4 justify-content-center align-items-center">
            <h6 class="btn bg-light shadow rounded-pill">Product</h6>
            <h6><a href="" class="text-decoration-none text-dark">Materials</a></h6>
            <h6><a href="" class="text-decoration-none text-dark">Process</a></h6>
            <h6><a href="" class="text-decoration-none text-dark">Packaging</a></h6>
          </div>
        </div>
        <div class="row mt-3 pt-2 px-4">
          <div class="card p-5 shadow rounded">
            <div class="d-flex">
              <div class="product-image">
                <img src="data:image/png;base64,{{products.images}}" class="rounded shadow" alt="{{products.name}}" height="200px" width="200px">
              </div>
              <div class="product-details ms-4 d-flex flex-column">
                <div class="header-row-1 d-flex">
                  <div class="product-name">
                  <h4 class="fw-bold">{{products.name}}</h4>
                  </div>
                </div>
                <div class="tags gap-2 pb-2 pt-1">
                  <span class="badge bg-danger">Kesehatan</span>
                  <span class="badge bg-primary">Minuman</span>
                  <span class="badge bg-success">Herbal</span>
                </div>
                <h5 class="fw-bold text-success">Rp. {{products.harga}}</h5>
                <h6>Stock: {{products.stock}}</h6>
                <p>{{products.deskripsi}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3 pt-3 px-3">
        <div class="col-md-8">
            <table id="productTable" class="table table-striped nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>UID</th>
                        <th>Tanggal</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                  {{#if productIds}}
                  {{#each productIds}}
                    <tr>
                      <td>1</td>
                        <td>{{id}}</td>
                        <td>08 Desember 2023</td>
                        <td></td>
                    </tr>
                  {{/each}}
                  {{/if}}
                </tbody>
            </table>
        </div>
         <div class="col-md-4">
            <div class="card border-0 shadow pb-2" style="width: 20rem;">
              <div class="card-body">
                <div class="mb-3 image d-flex flex-column justify-content-center align-items-center">
                <img src="{{products.qrcodeURL}}" class="rounded shadow" alt="{{products.name}}" height="200px" width="200px">
                </div>
                <div class="d-flex justify-content-center align-items-center">
                  <div class="title">

                    <h5 class="card-title fw-bold text-center">Product QR</h5>
                  </div>
                </div>
                
              </div>

            </div>
         </div>
          
        </div>
    </div>



  </div>
  </main>
  </div>



 <script src="/assets/js/bootstrap.bundle.min.js"></script>
  {{!-- <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
  <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
  <script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
  <script src="https://cdn.datatables.net/responsive/2.5.0/js/responsive.bootstrap5.min.js"></script> --}}
  <script type="module" src="/assets/js/dashboard.js"></script>

  <script type="module" src="/assets/js/dashboard.js"></script>
  <script>
          $(document).ready(function () {
            // DataTable initialization
            $('#productTable').DataTable({
              paging: true,
              pageLength: 18, // Default number of rows to display
              searching: true, // Enable search
              autoWidth: true, // Enable auto-sizing
              scrollY: 700,
              responsive: true,
              columnDefs: [
                {
                  targets: 0, // Target the first column (index 0)
                  orderable: false, // Make the column not orderable
                  searchable: false, // Make the column not searchable
                  className: 'dt-center', // Center-align the content
                  render: function (data, type, row, meta) {
                    return meta.row + meta.settings._iDisplayStart + 1; // Calculate and return the row index
                  }
                }
              ],
            });
          });
        </script>

</body>

</html>