<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Bananalem0n">
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="/icons/bootstrap-icon/bootstrap-icons.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">

  <title>AMATI Indonesia dashboard WebApp</title>

  <!-- Custom styles for this template -->
  <link href="/assets/css/dashboard.css" rel="stylesheet">
</head>

<body>

  <header class="navbar navbar-dark sticky-top amati-green flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-4 py-3" href="#">AMATI Indonesia</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
      data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    {{!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> --}}
    <div class="navbar-nav">
      <div class="nav-item text-nowrap">
        <a class="sign-out px-3 py-3" href="#" data-bs-toggle="modal" data-bs-target="#signOutModal">Sign Out</a>
      </div>
    </div>
    <!-- Sign Out Confirmation Modal -->
  </header>

  <div class="modal fade" id="signOutModal" tabindex="-1" aria-labelledby="signOutModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="button">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="signOutModalLabel">Confirm Sign Out</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to sign out?
        </div>
        <div class="modal-footer">
          <a href="http://localhost:3000/signout" class="btn btn-primary">Sign Out</a>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item my-1">
              <a class="nav-link" href="/admin/partner">
                <span data-feather="users"></span>
                Business Partners
              </a>
            </li>
            <li class="nav-item my-1">
              <a class="nav-link active" href="#">
                <span data-feather="users"></span>
                Partner Data
              </a>
            </li>
            <li class="nav-item my-1">
              <a class="nav-link" href="/admin/approval">
                <span data-feather="file"></span>
                Pending Partner Requests
              </a>
            </li>
            <li class="nav-item my-1">
              <a class="nav-link" href="/admin/access" aria-disabled="true">
                <span data-feather="bar-chart-2"></span>
                Access Control
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h3 class="text-secondary"> Admin Dashboard</h3>
        </div>
        <div class="container mt-4">
          <div class="row">
            <div class="col-md-4 justify-content-center">
              <img src="data:image/png;base64,{{image}}" alt="Company Logo" class="img-fluid" width="800">
            </div>
            <div class="col-md-8">
              <p><strong>UUID :</strong> {{data.uuid}}</p>
              <p><strong>Company Name :</strong> {{data.businessName}}</p>
              <p><strong>Email :</strong> {{data.email}}</p>
              <p><strong>Description :</strong> {{data.deskripsi}}</p>
              <p><strong>Telephone :</strong> {{data.telephone}}</p>
              <p><strong>NIB :</strong> {{data.nib}}</p>
            </div>
          </div>
        </div>
        <div class="container-fluid mt-5">
          <div class="card text-center">
            <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs flex">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="true" href="#">Products</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Gallery</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"></a>
                </li>
              </ul>
            </div>
            <div class="card-body row mt-3">
              <table id="userData" class="table table-striped table-sm table-hov table-bordered">
                <thead>
                  <tr>
                    <th scope="col" class="justify-center px-2 p-2">#</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Stock</th>
                    <th scope="col">QrCode Link</th>
                  </tr>
                </thead>
                <tbody class="">
                  {{#each products}}
                  <tr class="text-wrap" data-href="/dashboard/{{id}}">
                    <td class="justify-center px-2">{{@index}}</td>
                    <td>{{name}}</td>
                    <td>{{harga}}</td>
                    <td>{{stock}}</td>
                    <td>
                      <a href="{{qrcodeURL}}" target="_blank">
                        <button type="button" class="amati-green">Qr Code</button>
                      </a>
                    </td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>

            </div>
          </div>
        </div>
    </div>
    </main>
  </div>
  </div>

  <script src="/assets/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
    integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"
    integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha"
    crossorigin="anonymous"></script>
  <script src="/assets/js/dashboard.js"></script>
  <script>
    $(document).ready(function () {
      // DataTable initialization
      $('#userData').DataTable({
        paging: true,
        pageLength: 7, // Default number of rows to display
        searching: true, // Enable search
        autoWidth: true, // Enable auto-sizing

        responsive: true,
        columnDefs: [
          {
            targets: 0, // Target the first column (index 0)
            orderable: true, // Make the column not orderable
            searchable: false, // Make the column not searchable
            className: 'dt-center', // Center-align the content
            render: function (data, type, row, meta) {
              return meta.row + meta.settings._iDisplayStart + 1; // Calculate and return the row index
            }
          }
        ],
      });
    });
  </script>
</body>

</html>